.header {
        .main-nav {
                display: flex; // justify-content: space-between;
                font-family: inherit;
                justify-content: space-around;
                align-items: center;
                align-content: center;
                list-style-type: none;
                //margin-right: 8rem;

                color: $color-white;

                @media only screen and (max-width: $bp-small) {
                        margin: 0;
                        //margin-left: -5rem;
                        //  margin-right: 5rem;
                        //justify-content: center;
                        align-content: center;
                        align-items: center;
                }

                & li:first-child {
                        //  margin-right: auto;
                        // padding-left: 6rem;

                        @media only screen and (max-width: $bp-mid-small) {
                                padding-left: 0;
                        }
                }

                & li {
                        // align-items: center;
                        margin-top: 1.5rem; // 1rem 0 1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                }

                &__link:link,
                &__link:visited {
                        color: #fff;
                        display: block;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: .9rem;
                        border-bottom: 2px solid transparent;
                        transition: color, border-bottom .80s;
                }

                &__link:hover,
                &__link:active {
                        //color: $color-primary-dark-blue;
                        border-bottom: 2px solid $color-primary-dark-blue;
                }

                &__logo {
                        //margin-top: 15rem;
                        display: flex;
                        justify-content: center;
                        align-content: space-around;

                        &-image {
                                width: 3rem;
                                border-radius: 50%;
                                transition: box-shadow, transform 0.40s;
                                //margin: -.5rem 5rem -1rem 1rem;
                                margin: -.5rem;
                                @media only screen and (max-width:$bp-thin-small) {

                                        width: 2rem;

                                }


                                &:hover {
                                        transform: scale(1.05);
                                        box-shadow: $shadow;
                                }
                        }

                        & p {
                                margin: -.0.1rem .6rem .5rem;
                                font-size: 1.5rem;
                        }
                }

                &__icon {
                        height: 1rem;
                        width: 1rem;
                        margin: 0 .5rem -.1rem;
                        fill: $color-white;
                }
        }

        /*sticky navigation*/
        .sticky {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.98);
                box-shadow: 0 3px 3px #efefef;
                z-index: 1;

                & .main-nav li {
                        margin-top: .6rem;
                }

                & .main-nav li a:link,
                & .main-nav li a:visited {
                        color: #555;
                        padding: 10px 0;

                }

                & .main-nav li svg {
                        fill: rgb(46, 45, 45);
                }
        }

        .hero-text__box {
                color: #fff;
                position: absolute;
                top: 60%;
                left: 0%;
                text-align: center;
                width: 100%;
                transform: translate(0, -50%); //display: flex;
                @media only screen and (max-width:$bp-mid-medium){
                        top: 70%;
                }

                //flex-direction: column;
                //justify-content: center;
                //align-items: center;
                //align-content: center;
                & p {
                        font-size: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                }
        }
}

.social-media {
        display: flex;
        justify-content: center;
        align-items: center;

        //&__link {}
        &__icon {
                fill: $color-white;
                width: 2rem;
                margin: 1rem;
                margin-bottom: 0;
                transition: transform, fill 0.40s;

                &:hover {
                        transform: scaleY(1.05);
                        fill: $color-primary-dark-blue;
                }
        }
}

//////////////////////////////////////////////////////
///main class="main-about"
h1 {
        font-family: 'Fjalla One', sans-serif;
}

.main {
        &-about {
                margin-top: 4rem;
                max-width: 100%;
                padding: 2rem;
                min-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                font-family: inherit;

                @media only screen and (max-width: $bp-mid-small) {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        //flex-wrap: wrap;
                        text-align: center;
                        text-justify: justify;
                }

                &__box {
                        width: 45%;
                        margin: 2rem;
                        position: relative;

                        & h1:before {
                                content: "";
                                height: .2rem;
                                display: block;
                                background-color: $color-primary-dark-blue;
                                width: 10%;

                                @media only screen and (max-width: $bp-mid-small) {
                                        width: 0;
                                }
                        }

                        & h1:after {
                                @media only screen and (max-width: $bp-mid-small) {
                                        text-align: center;
                                        vertical-align: middle;
                                        content: "";
                                        position: absolute;
                                        height: .2rem;
                                        display: block;
                                        background-color: $color-primary-dark-blue;
                                        width: 10%;
                                        left: 45%;
                                        margin-bottom: 10rem;

                                }
                        }

                        @media only screen and (max-width:$bp-mid-small) {
                                width: 100%;
                                // display: flex;
                                justify-content: center;
                        }
                }

                &__image {
                        width: 80%;
                        height: auto;
                        border-radius: .5rem;
                        box-shadow: $shadow;
                        margin-left: 6rem;

                        @media only screen and (max-width: $bp-mid-small) {
                                //transform: translate(0, -50);                              
                                //  max-width: 50%;
                                width: 10rem;
                                height: 10rem;
                                border-radius: 10rem;
                                margin: 0;
                        }
                }

                &__description {
                        text-justify: justify;
                        color: $color-text;
                        margin: .5rem;
                        font-weight: 100;
                        font-size: 20px;

                        @media only screen and (max-width: $bp-medium) {
                                margin: 0;
                                font-weight: 50;
                                font-size: 14px;
                        }

                        @media only screen and (max-width:$bp-mid-small) {
                                font-weight: 100;
                                font-size: 20px;
                                padding-top: 1.3rem;


                        }
                }
        }

        //end of main about 
        //start main-skill
        &-skill {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
              

                @media only screen and (max-width: $bp-mid-small) {
                        //flex-direction:column;
                       flex-wrap: wrap;
                        margin-top: -6rem;

                }

                

                &__list {
                        text-align: center;
                        list-style: none;
                        padding-top: 2rem;
                        padding-right: .5rem;
                        padding-bottom: 0;

                        &-icon {
                                @include icon-set;
                        }

                        &-description {
                                margin-top: -2.5rem;
                                
                        }

                        &-heading {
                                align-items: center;
                              //  color:black;
                                margin-top: .5rem;
                        }

                        &-text {
                                @include text;
                                width: 8rem;
                                color: $color-text;

                                & a {
                                        flex: 1;
                                        padding: .2rem;
                                }

                                & a:link,
                                & a:visited {
                                        @include link-visited;
                                }

                                & a:hover,
                                & a:active {
                                        @include hover-active;
                                }
                        }
                }
        }
}

.project {
        padding-top: 4rem;
        text-align: center;

        & h1:before {
                //  content: "";
                height: .2rem;
                display: block;
                background-color: $color-primary-dark-blue;
                width: 10%;
        }

        & h1:after {
                //content: "";
                height: .2rem;
                display: block;
                background-color: $color-primary-dark-blue;
                width: 10%;
        }

        &-heading {
                @include heading;
        }
        &-text{
                color: $color-text;
        }

        // &-project-text {}
        &-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1.5rem;

                @media only screen and (max-width: $bp-largest) {
                        //flex-direction:column;
                        flex-wrap: wrap;
                }

                & img {
                        width: 18rem;
                        height: 20rem;

                         @media only screen and (max-width:$bp-extra-small) {

                                 width: 14rem;
                                 height: 18rem;
                         }

                          @media only screen and (max-width:$bp-extra-small) {

                                  width: 12rem;
                          }
                }

                &__image {
                        margin: 1rem;
                        margin-bottom: 4rem;
                        width: 100%;
                        box-shadow: $shadow;
                        transition: box-shadow .80s;

                       

                        &:hover {
                                box-shadow: $shadow-hover;
                        }
                }
        }
}

.info {
        text-align: center;
        width: 100%;

        &-heading {
                @include heading;
        }

        &-text {
                text-align: center;
                color: $color-text;
        }

        &-box {
                display: flex;
                justify-content: center;
                margin-top: 1rem; //  width: 100%;

                @media only screen and (max-width: $bp-mid-medium) {
                        //flex-direction:column;
                        flex-wrap: wrap;

                }
                 @media only screen and (max-width:$bp-extra-small) {

                         flex-direction: column;
                 }
        }

        &-list {
                list-style: none;
                margin: 2.5rem 3rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media only screen and (max-width: $bp-mid-medium) {
                        margin: .5rem;
                        margin-top: 1rem;
                }

                &-box-icon {
                        background-color: $color-primary-dark-blue; //background-size: 100%;
                        width: 4rem;
                        height: 4rem;
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        border-radius: 0.5rem;
                }

                &-icon {
                        //   background-color: $color-primary-dark-blue;
                        @include icon-set;
                        fill: #fff;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        &-center{
                                margin-left: .5rem;
                        }
                       
                }
        }

        &-list-description {
                //width: 4rem;
                color: $color-text; //  margin-top: -2.5rem;
                margin-top: 1rem;
        }

        &-list-heading {
                @include text;
                justify-content: center;
                align-items: center;
        }

        &-list-text {
                @include text;
                justify-content: center;
                align-items: center;
        }
}

//form
.form {
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        text-align: center;
        width: 100vw;

        &__group:not(:last-child) {
                margin-bottom: 1rem;
        }

        &__input {
                font-size: .8rem;
                padding: .1rem 1rem;
                border-radius: 2px;
                background-color: rgba($color-white, .5);
                border: none;
                font-family: inherit;
                color: $color-text;
                width: 80%;
                border-bottom: 1.2px solid $color-text;
                transition: all 0.80s;

                &:focus {
                        outline: none; // box-shadow: 0 1rem 2rem rgba($color-primary-dark, 1);
                        border-bottom: 1.2px solid $color-primary-dark-blue;

                        &:invalid {
                                border-bottom: 1.2px solid $color-error;
                        }
                }

                &:-webkit-input-placeholder {
                        color: inherit;
                }
        }

        &__label {
                font-size: .8rem;
                font-weight: 100;
                margin-top: 0;
                margin-left: -60rem;
                display: block;
                transition: all .3s;
                color: rgba(0, 0, 0, 0.918);

        }

        &__input:placeholder-shown+&__label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-4rem);
        }
}

button {
        border: none;
        border-color: none;
        background: none;
        cursor: pointer;
        padding: 15px 40px;
        z-index: 1;
        border-radius: 50%;
        color: inherit;
        font-size: 1rem;
        text-align: center;
        outline: none;
}

.btn:link,
.btn:visited {
        font-size: .9rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1px 1px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 2rem;

        &:hover {
                transform: translateY(-3px);
                box-shadow: $shadow-hover;
        }

        &:after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s
        }

        &:active,
        &:focus {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, .2); //$shadow-hover;
                outline: none;
        }
}

.btn-default {
        background-color: $color-primary-dark-blue;
        color: $color-white;
}

.btn-default:after {
        background-color: $color-primary-dark-blue;
}

.btn:hover:after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
}

///////////////////////////////////////////////////
//footer

.footer .social-media svg:hover {
        transform: scaleY(1.05);
        fill:$color-white;
} 

footer p {
        color: rgba(255, 255, 255, 0.671);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 50;
}

.footer-copyright {
        display: flex;
        justify-content: center;
        flex-direction: column;


}

.top {
        margin-left: 85%;
        margin-top: -5rem;
        text-align: center;

     /*    @media only screen and (max-width: $bp-largest) {
                margin-left: 55rem;

        }

        @media only screen and (max-width:$bp-mid-medium) {
                margin-left: 50rem;
        }

        @media only screen and (max-width:$bp-medium) {
                margin-left: 40rem;

        }

        @media only screen and (max-width:$bp-mid-small) {
                margin-left: 30rem;

        }
 */
        @media only screen and (max-width:$bp-small) {
                margin-left:0;  
                margin-top:-1rem;    
        }

}

.btn-top {
        background-color: $color-white;
        color: $color-primary-dark-blue;
        width: 3rem;
        height: 3rem;
        text-align: center;
        }

.top-icon{
        width: 2em;
        height: 3em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
}

.sendSms{
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.alert{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         width: 100%;
         height: auto;
          
          //width: 100vh;
          height: auto;
         // color: $color-white;

          &-danger{
                color:rgba(255, 0, 0, 0.61);
                  //background-color: rgba(255, 0, 0, 0.685);

          }
          &-success{
                  color:rgba(0, 128, 0, 0.404);
          }

}
