.header {
        .main-nav {
                display: flex; // justify-content: space-between;
                font-family: inherit;
                list-style-type: none;
                margin-right: 8rem;
                color: $color-white;
                & li:first-child {
                        margin-right: auto;
                        padding-left: 6rem;
                }
                & li {
                        margin: 2.5rem 1rem;
                }
                &__link:link,
                &__link:visited {
                        color: #fff;
                        display: block;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: .9rem;
                        border-bottom: 2px solid transparent;
                        transition: color, border-bottom .80s;
                }
                &__link:hover,
                &__link:active {
                        //color: $color-primary-dark-blue;
                        border-bottom: 2px solid $color-primary-dark-blue;
                }
                &__logo {
                        display: flex;
                        justify-content: center;
                        &-image {
                                width: 3rem;
                                border-radius: 50%;
                                transition: box-shadow, transform 0.40s;
                                margin: 0 5rem -1rem;
                                &:hover {
                                        transform: scale(1.05);
                                        box-shadow: $shadow;
                                }
                        }
                        & p {
                                margin: -.0.1rem .6rem .5rem;
                                font-size: 1.5rem;
                        }
                }
                &__icon {
                        height: 1rem;
                        width: 1rem;
                        margin: 0 .5rem -.1rem;
                        fill: $color-white;
                }
        }
        .hero-text__box {
                color: #fff;
                position: absolute;
                top: 60%;
                left: 0%;
                text-align: center;
                width: 100%;
                transform: translate(0, -50%); //display: flex;
                //flex-direction: column;
                //justify-content: center;
                //align-items: center;
                //align-content: center;
                & p {
                        font-size: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                }
        }
}

.social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        &__link {}
        &__icon {
                fill: $color-white;
                width: 2rem;
                margin: 1rem;
                margin-bottom: 0;
                transition: transform, fill 0.40s;
                &:hover {
                        transform: scaleY(1.05);
                        fill: $color-primary-dark-blue;
                }
        }
}

//////////////////////////////////////////////////////
///main class="main-about"
.main {
        &-about {
                margin-top: 8rem; 
                //max-width: 100%;
                padding: 2rem; 
                 //min-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: inherit;
                &__box {
                        width: 45%;
                        margin: 2rem;
                        & h1:before {
                                content: "";
                                height: .2rem;
                                display: block;
                                background-color: $color-primary-dark-blue;
                                width: 10%;
                        }
                       // @media only screen and (max-width:$bp-largest) {}
                }
                &__image {
                        width: 100%;
                        height: auto;
                        border-radius: .5rem;
                        box-shadow: $shadow;
                }
                &__description {
                        text-justify: justify;
                        color: $color-text;
                        margin: .5rem;
                        font-weight: 100;
                }
        } //end of main about 
        //start main-skill
        &-skill {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                
                &__list {
                        text-align: center;
                        list-style: none;
                        padding: 4rem 2rem;
                       // padding-top: -1rem;
                       
                        &-icon {
                                @include icon-set;
                        }
                        &-description {
                                margin-top: -2.5rem;
                        }
                        &-heading {
                                align-items: center;
                                color: $color-dark-transparent;
                                margin-top: .5rem;
                        }
                        &-text {
                                @include text;
                                width: 8rem;
                                & a {
                                        flex: 1;
                                        padding: .2rem;
                                }
                                & a:link,
                                & a:visited {
                                        @include link-visited;
                                }
                                & a:hover,
                                & a:active {
                                        @include hover-active;
                                }
                        }
                }
        }
}

.project {
        padding-top: 4rem;
        text-align: center;
        & h1:before {
                //  content: "";
                height: .2rem;
                display: block;
                background-color: $color-primary-dark-blue;
                width: 10%;
        }
        & h1:after {
                //content: "";
                height: .2rem;
                display: block;
                background-color: $color-primary-dark-blue;
                width: 10%;
        }
        &-heading {
                @include heading;
        }
        &-project-text {}
        &-box {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1.5rem;
                @media only screen and (max-width:$bp-largest){
                                flex-direction:column;
                }
                & img {
                        width: 22rem;
                        height: 22rem;
                }
                &__image {
                        margin: 1rem;
                        margin-bottom: 4rem;
                        width: 100%;
                        box-shadow: $shadow;
                        transition: box-shadow .80s;
                        &:hover {
                                box-shadow: $shadow-hover;
                        }
                }
        }
}

.info {
        text-align: center;
        width: 100%;
        &-heading {
                @include heading;
        }
        &-text {
                text-align: center;
        }
        &-box {
                display: flex;
                justify-content: center;
                margin-top: 1rem; //  width: 100%;
        }
        &-list {
                list-style: none;
                margin: 2.5rem 3rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-box-icon {
                        background-color: $color-primary-dark-blue; //background-size: 100%;
                        width: 4rem;
                        height: 4rem;
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        border-radius: 0.5rem;
                }
                &-icon {
                        //   background-color: $color-primary-dark-blue;
                        @include icon-set;
                        fill: #fff;
                        width: 2rem;
                        text-align: center;
                }
        }
        &-list-description {
                //width: 4rem;
                color: $color-text; //  margin-top: -2.5rem;
                margin-top: 1rem;
        }
        &-list-heading {
                @include text;
                justify-content: center;
                align-items: center;
        }
        &-list-text {
                @include text;
                justify-content: center;
                align-items: center;
        }
}

//form
.form {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        text-align: center;
        width: 100vw;
        &__group:not(:last-child) {
                margin-bottom: 1rem;
        }
        &__input {
                font-size: .8rem;
                padding: .1rem 1rem;
                border-radius: 2px;
                background-color: rgba($color-white, .5);
                border: none;
                font-family: inherit;
                color: $color-text;
                width: 80%;
                border-bottom: 1.2px solid $color-text;
                transition: all 0.80s;
                &:focus {
                        outline: none; // box-shadow: 0 1rem 2rem rgba($color-primary-dark, 1);
                        border-bottom: 1.2px solid $color-primary-dark-blue;
                        &:invalid {
                                border-bottom: 1.2px solid $color-error;
                        }
                }
                &:-webkit-input-placeholder {
                        color: inherit;
                }
        }
        &__label {
                font-size: .8rem;
                font-weight: 100;
                margin-top: 0;
                margin-left: -60rem;
                display: block;
                transition: all .3s;
        }
        &__input:placeholder-shown+&__label {
                opacity: 0;
                visibility: hidden;
                transform: translateY(-4rem);
        }
}

.btn:link,
.btn:visited {
        font-size: .9rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        border: none;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 2rem;
        &:hover {
                transform: translateY(-3px);
                box-shadow: $shadow-hover;
        }
        &:after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all .4s
        }
        &:active,
        &:focus {
                transform: translateY(-1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, .2); //$shadow-hover;
                outline: none;
        }
}

.btn-default {
        background-color: $color-primary-dark-blue;
        color: $color-white;
}

.btn-default:after {
        background-color: $color-primary-dark-blue;
}

.btn:hover:after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
} ///////////////////////////////////////////////////
//footer
.footer svg:hover {
        transform: scaleY(1.05);
        fill: $color-white;
}

footer p {
        color: rgba(255, 255, 255, 0.671);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 50;
}