//header
.container{
      max-width: 100%;
        margin: 0 auto;
        min-height: 50rem;
        flex: 1 0 auto;

}
header{
        background-image:linear-gradient(to right bottom, rgba($color-primary-dark-blue, 0.7), rgba($color-primary-dark, 0.7)), url("../img/4.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-attachment: fixed;

}
footer{
        flex-shrink: 0;
        background-color: $color-primary-dark-blue;
        width: 100vw;
        height: 40vh;
        padding: 2px;
        margin-top: 4rem;
}
/* .main{
        display: flex;
        justify-content: space-around;
}
 */