* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; }

#typed {
  font-weight: 250;
  font-size: 300%;
  word-spacing: .4rem;
  letter-spacing: .1rem; }

/* h1,h2,h3{
        font-weight: 300;        
}
h1{
        font-size: 240%;
        word-spacing: 4px;
        letter-spacing: 1px;
}
h2{
        font-size: 180%;
}
h3{
        font-size: 110%;
} */
.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 50rem;
  flex: 1 0 auto; }

header {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.7), rgba(0, 0, 0, 0.7)), url("../img/4.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #2998ff;
  width: 100vw;
  height: 40vh; }

/* .main{
        display: flex;
        justify-content: space-around;
}
 */
.header {
  /*sticky navigation*/ }
  .header .main-nav {
    display: flex;
    font-family: inherit;
    list-style-type: none;
    margin-right: 8rem;
    color: #fff; }
    @media only screen and (max-width: 48em) {
      .header .main-nav {
        margin: 0;
        margin-left: -5rem;
        justify-content: center;
        align-content: center; } }
    .header .main-nav li:first-child {
      margin-right: auto;
      padding-left: 6rem; }
      @media only screen and (max-width: 54.75em) {
        .header .main-nav li:first-child {
          padding-left: 0; } }
    .header .main-nav li {
      margin: 1.5rem 1rem 0 1rem; }
    .header .main-nav__link:link, .header .main-nav__link:visited {
      color: #fff;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: .9rem;
      border-bottom: 2px solid transparent;
      transition: color, border-bottom .80s; }
    .header .main-nav__link:hover, .header .main-nav__link:active {
      border-bottom: 2px solid #2998ff; }
    .header .main-nav__logo-image {
      width: 3rem;
      border-radius: 50%;
      transition: box-shadow, transform 0.40s;
      margin: -.5rem 5rem -1rem; }
      .header .main-nav__logo-image:hover {
        transform: scale(1.05);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.384); }
    .header .main-nav__logo p {
      margin: 0 0.1rem 0.6rem 0.5rem;
      font-size: 1.5rem; }
    .header .main-nav__icon {
      height: 1rem;
      width: 1rem;
      margin: 0 .5rem -.1rem;
      fill: #fff; }
  .header .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 3px 3px #efefef;
    z-index: 1; }
    .header .sticky .main-nav li {
      margin-top: 1.2rem; }
    .header .sticky .main-nav li a:link,
    .header .sticky .main-nav li a:visited {
      color: #555;
      padding: 15px 0; }
    .header .sticky .main-nav li svg {
      fill: #2e2d2d; }
  .header .hero-text__box {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 0%;
    text-align: center;
    width: 100%;
    transform: translate(0, -50%); }
    .header .hero-text__box p {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center; }

.social-media {
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-media__icon {
    fill: #fff;
    width: 2rem;
    margin: 1rem;
    margin-bottom: 0;
    transition: transform, fill 0.40s; }
    .social-media__icon:hover {
      transform: scaleY(1.05);
      fill: #2998ff; }

.main-about {
  margin-top: 4rem;
  max-width: 100%;
  padding: 2rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: inherit; }
  @media only screen and (max-width: 54.75em) {
    .main-about {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-justify: justify; } }
  .main-about__box {
    width: 45%;
    margin: 2rem;
    position: relative; }
    .main-about__box h1:before {
      content: "";
      height: .2rem;
      display: block;
      background-color: #2998ff;
      width: 10%; }
      @media only screen and (max-width: 54.75em) {
        .main-about__box h1:before {
          width: 0; } }
    @media only screen and (max-width: 54.75em) {
      .main-about__box h1:after {
        text-align: center;
        vertical-align: middle;
        content: "";
        position: absolute;
        height: .2rem;
        display: block;
        background-color: #2998ff;
        width: 10%;
        left: 45%;
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 54.75em) {
      .main-about__box {
        width: 100%;
        justify-content: center; } }
  .main-about__image {
    width: 80%;
    height: auto;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.384);
    margin-left: 6rem; }
    @media only screen and (max-width: 54.75em) {
      .main-about__image {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        margin: 0; } }
  .main-about__description {
    text-justify: justify;
    color: #757575;
    margin: .5rem;
    font-weight: 100;
    font-size: 20px; }
    @media only screen and (max-width: 69.75em) {
      .main-about__description {
        margin: 0;
        font-weight: 50;
        font-size: 14px; } }
    @media only screen and (max-width: 54.75em) {
      .main-about__description {
        font-weight: 100;
        font-size: 20px;
        padding-top: 1.3rem; } }

.main-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media only screen and (max-width: 54.75em) {
    .main-skill {
      flex-wrap: wrap;
      margin-top: -3rem; } }
  .main-skill__list {
    text-align: center;
    list-style: none;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-bottom: 0; }
    .main-skill__list-icon {
      fill: #2998ff;
      width: 3rem; }
    .main-skill__list-description {
      margin-top: -2.5rem; }
    .main-skill__list-heading {
      align-items: center;
      color: rgba(0, 0, 0, 0.575);
      margin-top: .5rem; }
    .main-skill__list-text {
      display: flex;
      flex-direction: column;
      margin-top: .01rem;
      color: #222222;
      font-size: .8rem;
      width: 8rem; }
      .main-skill__list-text a {
        flex: 1;
        padding: .2rem; }
      .main-skill__list-text a:link,
      .main-skill__list-text a:visited {
        color: #2998ff;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        transition: color, background-color, box-shadow .80s;
        text-align: center; }
      .main-skill__list-text a:hover,
      .main-skill__list-text a:active {
        color: white;
        background-color: #2998ff;
        cursor: pointer;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }

.project {
  padding-top: 4rem;
  text-align: center; }
  .project h1:before {
    height: .2rem;
    display: block;
    background-color: #2998ff;
    width: 10%; }
  .project h1:after {
    height: .2rem;
    display: block;
    background-color: #2998ff;
    width: 10%; }
  .project-heading {
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    margin: 2.5rem 0 1.5rem 0; }
  .project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem; }
    @media only screen and (max-width: 87.75em) {
      .project-box {
        flex-wrap: wrap; } }
    .project-box img {
      width: 18rem;
      height: 20rem; }
    .project-box__image {
      margin: 1rem;
      margin-bottom: 4rem;
      width: 100%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.384);
      transition: box-shadow .80s; }
      .project-box__image:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }

.info {
  text-align: center;
  width: 100%; }
  .info-heading {
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    margin: 2.5rem 0 1.5rem 0; }
  .info-text {
    text-align: center; }
  .info-box {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    @media only screen and (max-width: 75.75em) {
      .info-box {
        flex-wrap: wrap; } }
  .info-list {
    list-style: none;
    margin: 2.5rem 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 75.75em) {
      .info-list {
        margin: .5rem;
        margin-top: 1rem; } }
    .info-list-box-icon {
      background-color: #2998ff;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-self: center;
      border-radius: 0.5rem; }
    .info-list-icon {
      fill: #2998ff;
      width: 3rem;
      fill: #fff;
      width: 2rem;
      text-align: center; }
  .info-list-description {
    color: #757575;
    margin-top: 1rem; }
  .info-list-heading {
    display: flex;
    flex-direction: column;
    margin-top: .01rem;
    color: #222222;
    font-size: .8rem;
    justify-content: center;
    align-items: center; }
  .info-list-text {
    display: flex;
    flex-direction: column;
    margin-top: .01rem;
    color: #222222;
    font-size: .8rem;
    justify-content: center;
    align-items: center; }

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  text-align: center;
  width: 100vw; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__input {
    font-size: .8rem;
    padding: .1rem 1rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-family: inherit;
    color: #757575;
    width: 80%;
    border-bottom: 1.2px solid #757575;
    transition: all 0.80s; }
    .form__input:focus {
      outline: none;
      border-bottom: 1.2px solid #2998ff; }
      .form__input:focus:invalid {
        border-bottom: 1.2px solid #df293b; }
    .form__input:-webkit-input-placeholder {
      color: inherit; }
  .form__label {
    font-size: .8rem;
    font-weight: 100;
    margin-top: 0;
    margin-left: -60rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.btn:link,
.btn:visited {
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem; }
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15); }
  .btn:link:after,
  .btn:visited:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn:link:active, .btn:link:focus,
  .btn:visited:active,
  .btn:visited:focus {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    outline: none; }

.btn-default {
  background-color: #2998ff;
  color: #fff; }

.btn-default:after {
  background-color: #2998ff; }

.btn:hover:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.footer svg:hover {
  transform: scaleY(1.05);
  fill: #fff; }

footer p {
  color: rgba(255, 255, 255, 0.671);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 50; }
